@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Sriracha', cursive;
    --fonte3:  'Passion One', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    color: #DA7C00;
    background-color: black;
}

header > h1 {
    font-size: 10vw;
    padding-top: 74vh;
    font-variant: small-caps;
    font-family: var(--fonte3);
    text-shadow: 5px 4px 5px #754200a4;
}

header > p {
    font-variant: small-caps;
    font-size: large;
    letter-spacing: 5px;
}

.link-do-milton {
    text-decoration: none;
    color: yellow;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: #DA7C00;
}

section {
    padding: 10vh 10px 10vh 23px;
    font-family: var(--fonte2);
    line-height: 1.5em;
    font-size: 5vw;
}

main > section#imagem01 {
    background-image: url(../imagens/background001.jpg);
}

section#imagem01 {
    background: black url(../imagens/background001.jpg) right center/cover fixed;
    color: white;
    box-shadow: inset -2px 5px 8px #75420063;
}

.imagem > p {
    text-shadow: 1px 1px 5px black;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.274);
}

section#imagem02 {
    background: black url(../imagens/background002.jpg) bottom right/cover fixed;
    color: white;
    box-shadow: inset -2px 5px 8px rgba(0, 0, 0, 0.603);
}

footer {
    font-weight: 600;
    font-size: larger;
    background-color: black;
    text-align: center;
    color: white;
    padding: 25px;
    box-shadow: inset -2px 3px 5px #75420063;
}

.link-do-footer {
    text-decoration: none;
    color: yellow;
}

.link-do-footer:hover {
    color: #DA7C00;
    text-decoration: underline;
}